.git
.gitignore
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
logs/
temp/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
*.iml
.project
.classpath
.settings/
*.swp
*.swo
*~